<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPINIA | Basic Form</title>
	<link href="#springUrl('/static/css/bootstrap.min.css')" rel="stylesheet">
	<link href="#springUrl('/static/css/style.css')" rel="stylesheet">
    <link href="#springUrl('/static/plugins/foundation-datepicker-1.5.6/css/foundation-datepicker.css')" rel="stylesheet">
    <style>
        .calendarBox {
            position: relative;
        }
        .glyphicon-calendar {
            position: absolute;
            right: 20px;
            top: 10px;
        }
    </style>
</head>
<body class="white-bg">
<div class="ibox-content" style="width: 430px;">
   <form id="myForm" class="form-horizontal" autocomplete="off" data-validator-option="{theme:'default'}">
   	   <input type="hidden" name="id" value="$!{pojo.id}">

       <div class="form-group"><label class="col-sm-2 control-label">投顾编号</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{pojo.serialNo}" name="serialNo" data-rule="投顾编号:required;serialNo">
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">投顾级别</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{pojo.jobTitle}" name="jobTitle" data-rule="投顾级别:required;jobTitle">
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">系统用户名</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{pojo.loginName}" name="loginName">
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">投顾姓名</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{pojo.actualName}" name="actualName">
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">手机号码</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{pojo.mobileNo}" name="mobileNo">
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">电子邮箱</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{pojo.email}" name="email">
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">所属团队</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{pojo.teamName}" name="teamName">
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">团队组长</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{pojo.teamLeader}" name="teamLeader">
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">团队组长</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{pojo.teamLeader}" name="teamLeader">
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">团队所在地</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{pojo.teamLocation}" name="teamLocation">
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">是否有效</label>
           <div class="col-sm-10">
               <label class="checkbox-inline">
                   <input type="radio" name="isValid" value="0" checked> 无效
               </label>
               <label class="checkbox-inline">
                   <input type="radio" name="isValid" value="1"> 有效
               </label>
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group">
           <div class="text-center">
               #if(!$!{pojo})
               <button class="btn btn-info" type="reset">重 置</button>
               #end
               <button class="btn btn-primary" type="submit">#if($!{pojo})修 改#else提 交#end</button>
           </div>
       </div>
   </form>
</div>
<script src="#springUrl('/static/js/jquery-2.2.4.js')"></script>
<script src="#springUrl('/static/plugins/nice-validator-1.0.10/jquery.validator.js?local=zh-CN')"></script>
<script src="#springUrl('/static/plugins/foundation-datepicker-1.5.6/js/foundation-datepicker.js')"></script>
<script src="#springUrl('/static/plugins/foundation-datepicker-1.5.6/js/locales/foundation-datepicker.zh-CN.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">

    $("#myForm").validator({
        valid: function (form) {
            var me = this;
            // 提交表单之前，hold住表单，防止重复提交
            me.holdSubmit();
            $.ajax({
                url: "#springUrl('/features/advisor/editOne')",
                data: $(form).serialize(),
                type: "POST",
                success: function (data) {
                    var d = JSON.parse(data);
                    if (d.success && d.data) {
                        window.parent.location.reload();
                        //当你在iframe页面关闭自身时
                        //var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        //parent.layer.close(index); //再执行关闭
                    } else {
                        //失败，提交表单成功后，释放hold，如果不释放hold，就变成了只能提交一次的表单
                        me.holdSubmit(false);
                    }
                }
            });
        }
    });

    /*数据回显*/

    // Radio回显
    $("input[type=radio][name=isValid]").each(function () {
        if ($(this).val() == '$!{pojo.isValid}') {
            $(this).attr("checked", "checked");
        }
    });


</script>
</body>
</html>
