#override("title")
BigClient - 投资顾问
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>功能模块</a></li><li class="active"><strong>投资顾问</strong></li>
#end
#override("content")
<div class="row">
	<div class="ibox-content text-right form-inline" style="background: #F3F3F4;">

		<div class="input-group">
			<input type="text" class="form-control" id="txt_search" name="_search" placeholder="姓名或手机号模糊查询">
			<span class="input-group-btn">
				<button type="button" class="btn btn-info" onclick="queryBy()" id="btn_query">搜索</button>
			</span>
		</div>

		<button class="btn btn-primary" onclick="downloadExcel()" type="button">
			<i class="fa fa-download"></i>&nbsp;导出投资顾问
		</button>

		<button class="btn btn-primary" onclick="editOne(null)" type="button">
			<i class="fa fa-user-plus"></i>&nbsp;添加投资顾问
		</button>

		<!-- 此处按钮级别权限控制，目前只有 admin 拥有该权限！ -->
		#if ($SSOPermission.isActionable("10010"))

		<button class="btn btn-primary" onclick="addTestData()" type="button">
			<i class="fa fa-database"></i>&nbsp;添加测试数据
		</button>

		<!--<button class="btn btn-primary" onclick="uploadExcel()" type="button">-->
		<!--<i class="fa fa-pencil"></i>&nbsp;导入EXCEL文件</button>-->
		<!--<input type="file" id="fileExcel" name="fileExcel" accept=".xls,.xlsx" style="display: none"/>-->
		#end
	</div>
</div>

<div class="row">
    <div class="col-sm-12" id="tableDiv">
        <!--<table id="dataTable"></table>-->
    </div>
</div>
#end
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v3.0.3/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">
    var dataUrl = "#springUrl('/features/advisor/getList.html')";
    var dataColumns = [
        { field: 'serialNo', title: '投顾编号', sortable:'true',  align: 'center', valign: 'middle' },
        { field: 'jobTitle', title: '投顾级别', sortable:'true',  align: 'center', valign: 'middle' },
        { field: 'loginName', title: '系统用户名', sortable:'true',  align: 'center', valign: 'middle' },
        { field: 'actualName', title: '投顾姓名', sortable:'true',  align: 'center', valign: 'middle' },
        { field: 'mobileNo', title: '手机号码', sortable:'true',  align: 'center', valign: 'middle' },
        { field: 'email', title: '电子邮箱', sortable:'true',  align: 'center', valign: 'middle' },
        { field: 'teamName', title: '所属团队', sortable:'true',  align: 'center', valign: 'middle' },
        { field: 'teamLeader', title: '团队组长', sortable:'true',  align: 'center', valign: 'middle' },
        { field: 'teamLocation', title: '团队所在地', sortable:'true',  align: 'center', valign: 'middle' },
        { field: 'isValid', title: '是否有效', sortable:'true',  align: 'center', valign: 'middle' ,
            formatter: function (value, row, index) { return formatWhether(row.isValid); } }
		<!-- 此处按钮级别权限控制,目前只有 admin 拥有该权限! -->
		#if ($SSOPermission.isActionable("10010"))
        ,{
            title: '操作', align: "center", valign: "middle",
            formatter: function (value, row, index) {
                var id = row.id;
                return '<a class="btn btn-xs btn-warning" onclick="editOne(' + "'" + id + "'" + ')"><i class="fa fa-pencil"></i>编辑</a> '
					+'<a class="btn btn-xs btn-danger" onclick="delOne(' + "'" + id + "'" + ')"><i class="fa fa-remove"></i>删除</a>'
            }
        }
    	#end
    ];

    /**点击搜索按钮，弹出搜索条件的弹层*/
//    function searchByCondition(){
//        var title = "请选择筛选条件";
//        var url = "#springUrl('/features/advisor/search.html')";
//        layer.open({
//            type: 2,
//            title: title,
//            shadeClose: true,
//            shade: 0.8,
//            area: ['600px', '435px'],
//            fix: false,
//            maxmin: true,
//            content: url
//        });
//    }


    function dataQueryParams(params,formData) {
        if (formData == '' || formData == null || formData == undefined) {
            formData = '';
        }
        var temp = {
            _size: params.limit,	//页面大小
            _index: params.offset,	//页码
            _search: $("#txt_search").val(), 		//搜索条件
        };
//		console.log(temp);
        return temp;
    }

    /**点击搜索*/
    function queryBy(){
        var oTable1 = new TableInit();
        oTable1.Init();
    }

    /*添加测试数据*/
    function addTestData() {
        $.ajax({
            type: "get",
            url: "#springUrl('/features/advisor/addTestData')",
            datatype: "text",
            success: function (data) {
                if(data == 'true'){
                    $('#dataTable').bootstrapTable('refresh',{url:dataUrl});
                }
            }
        });
    }

	/**导出Excel*/
	function downloadExcel() {
        // 模拟Ajax获取
        downLoadFile({
            url: "#springUrl('/features/advisor/downloadExcel.html')", //请求的url
            data: {search: $("#txt_search").val()}				//要发送的数据
        });
    }

    /**导入excel*/
    function uploadExcel() {
        // 触发input的点击事件，弹出文件选择窗口
        $("#fileExcel").click();
        // 选择文件后，触发
        $('#fileExcel').change(function () {
            // 询问框
            layer.confirm('确定上传吗？', {
                btn: ['确定', '取消'] // 按钮
            }, function () {
                var url = "#springUrl('/features/advisor/uploadExcel')";
                var fileId = "fileExcel";
                $.ajaxFileUpload({
                    url: url,                              //用于文件上传的服务器端请求地址
                    type: "post",                          //post请求方式
                    secureuri: false,                      //一般设置为false
                    fileElementId: fileId,            	   //文件上传空间的id属性
                    dataType: "json",                      //返回值类型 一般设置为json
                    success: function (data, status) {     //服务器成功响应处理函数
                        layer.closeAll();
						console.log(data);
						console.log(data.success);
                        if(data.success == 'true'){
                            $('#dataTable').bootstrapTable('refresh',{url:dataUrl});
                        }
                    },
                    error: function (data, status, e) {     //服务器响应失败处理函数
                        console.log(data);
                    }
                });
            });
        });
    }

    function delOne(id) {
        // 询问框
        layer.confirm('确定删除吗？', {
            btn: ['确定', '取消'] // 按钮
        }, function () {
            $.ajax({
                type: "POST",
                url: "#springUrl('/features/advisor/delOne/')" + id,
                datatype: "text",
                success: function (data) {
                    if (data == 'true') {
                        $('#dataTable').bootstrapTable('refresh', {url: dataUrl});
                    }
                    layer.closeAll();
                }
            });
        }, function () {
            return;
        });
    }

    function editOne(id) {
        var title = "新增投资顾问";
        var url = "#springUrl('/features/advisor/edit.html')";
        if (id != null) {
            title = "编辑投资顾问";
            url = url + "?id=" + id;
        }
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.8,
            area: ['600px', '430px'],
            fix: false,
            maxmin: true,
            content: url
        });
    }
</script>
#end
#extends("/common/framework.html")
