<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPINIA | Basic Form</title>
    <link href="#springUrl('/static/css/bootstrap.min.css')" rel="stylesheet">
    <link href="#springUrl('/static/css/style.css')" rel="stylesheet">
    <link href="#springUrl('/static/plugins/foundation-datepicker-1.5.6/css/foundation-datepicker.css')" rel="stylesheet">
    <style>
        .calendarBox {
            position: relative;
        }

        .glyphicon-calendar {
            position: absolute;
            right: 20px;
            top: 35px;
        }

        .btns {
            float: right;
            padding: 70px 40px 30px 0;
        }

        #submit {
            margin-left: 15px;
        }
    </style>
</head>
<body class="white-bg">
<div style="width: 100%;">
    <form style="padding:45px 30px;" id="myForm" name="form" method="post" action="" onsubmit="">
        <div class="row">
            <div class="form-group col-xs-4">
                <label class="form-label">客户姓名</label>
                <input type="text" class="form-control" name="userName"/>
            </div>
            <div class="form-group col-xs-4">
                <label class="form-label">手机号</label>
                <input type="text" class="form-control" name="mobileNo"/>
            </div>
            <div class="form-group col-xs-4">
                <label class="form-label">客户类别</label>
                <select class="form-control" name="userType">
                    <option value="">请选择</option>
                    <option value="1">上报</option>
                    <option value="2">分配</option>
                    <option value="3">未分配VIP</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label class="form-label">上报日期 从</label>
                <input type="text" class="form-control calendarBox calendar startDate" name="reportDate"/>
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
            <div class="form-group col-xs-4">
                <label class="form-label">至</label>
                <input type="text" class="form-control calendarBox calendar endDate" name="vipDate"/>
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
            <div class="form-group col-xs-4">
                <label class="form-label">是否为VIP</label>
                <select class="form-control" name="isVipuser">
                    <option value="">请选择</option>
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label class="form-label">投资顾问</label>
                <input type="text" class="form-control" name="advisorName"/>
            </div>
            <div class="form-group col-xs-4">
                <label class="form-label">客户标识</label>
                <select class="form-control" name="userMark">
                    <option value="">请选择</option>
                    <option value="DHK000">DHK000</option>
                    <option value="DHK001">DHK001</option>
                </select>
            </div>
            <div class="form-group col-xs-4">
                <label class="form-label">是否业绩池</label>
                <select class="form-control" name="isPerformancePool">
                    <option value="">请选择</option>
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </div>

            <span id="startSpan" style="opacity: 0;"></span>
            <span id="endSpan" style="opacity: 0;"></span>
        </div>

        <div class="row btns">
            <input type="reset" value="重置" class="btn"/>
            <input type="button" value="确定" class="btn btn-info yesBtn" id="submit"/>
        </div>
    </form>
</div>
<script src="#springUrl('/static/js/jquery-2.2.4.js')"></script>
<script src="#springUrl('/static/plugins/layer-v3.0.3/layer/layer.js')"></script>
<script src="#springUrl('/static/plugins/nice-validator-1.0.10/jquery.validator.js?local=zh-CN')"></script>
<script src="#springUrl('/static/plugins/foundation-datepicker-1.5.6/js/foundation-datepicker.js')"></script>
<script src="#springUrl('/static/plugins/foundation-datepicker-1.5.6/js/locales/foundation-datepicker.zh-CN.js')"></script>
<script type="text/javascript">
    //日期插件
    function calendar() {
        $('.calendar').fdatepicker({
//            initialDate: '2017-01-01',
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            disableDblClickSelection: true,
            leftArrow:'<<',
            rightArrow:'>>',
            closeIcon:'X',
            closeButton: false
        });
    }
    calendar();

    var lockSubmit = false;

    $(".startDate").change(function () {
        var startDateVal = $(".startDate").val();
        var startTimestamp = Date.parse(new Date(startDateVal));
        $('#startSpan').html(startTimestamp);
        var startSpan = parseInt($('#startSpan').html());
        var endSpan = parseInt($('#endSpan').html());

        if( startSpan > endSpan) {
            layer.msg('结束日期不能小于开始日期');
            return;
        }
    });

    $(".endDate").change(function () {
        var endDateVal = $(".endDate").val();
        var endTimestamp = Date.parse(new Date(endDateVal));
        $('#endSpan').html(endTimestamp);
        var startSpan = parseInt($('#startSpan').html());
        var endSpan = parseInt($('#endSpan').html());

        if( startSpan > endSpan) {
            layer.msg('结束日期不能小于开始日期');
            return;
        }
    });


    /**点击弹出层内确定按钮，将值传入父级页面并关闭弹出层*/
    $(".yesBtn").click(function () {

        //TODO 如果此时开始日期小于结束日期，不能提交。

        var formData = window.parent.formToJsonStr($('#myForm').serialize());
        console.log(formData);

        //初始化列表
        var oTable1 = new window.parent.TableInit();
        oTable1.formData = formData;
        oTable1.Init();

        //该iframe页面关闭自身
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);

    });

</script>
</body>
</html>
