#override("title")
BigClient 大客户管理系统 v3
#end
#override("breadcrumb")
<li class="active"><strong>介绍说明</strong></li>
#end
#override("content")
<div class="row">
	<img alt="spring-wind" src="#springUrl('/static/img/spring-wind.png')">
</div>
<!--<div class="row">
	<br><br>
	<br><br>
</div>-->
<div class="row">
	<h2>&nbsp;&nbsp;大客户中心 数据管理系统 三期（v3.0），现已正式上线啦！</h2>
</div>
<div class="row">
	<br><h3>&nbsp;&nbsp;&nbsp;&nbsp;
	该系统进行了全新改版，遵循了5月份最新的大客户基本法。目前实现的功能如下：</h3>
	<br><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	1. 最全的大客户正式名单，包括分配上报名单、和未分配的VIP用户。</h4>
	<br><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	2. 基于5月份最新基本法的大客户名单销售明细。</h4>
	<br><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	3. 所有大客户名单的获客信息、以及获客销售明细。</h4>
	<br><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	4. 大客户名单的资产余额表。</h4>
	<br><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	5. 投资顾问的编辑和分组。</h4>
	<br><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	6. 上报/分配名单、业绩池名单的导入操作。</h4>
	<br><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	7. 所有数据为T+1天更新，并且实现条件搜索和导出功能，完美兼容Excel。</h4>
	<br><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	AND SO ON ......</h4>
	<br><h3>&nbsp;&nbsp;&nbsp;&nbsp;访问地址：
	<a href="http://bc.idc.xiwanglife.com/account/login.html">
        http://bc.idc.xiwanglife.com/account/login.html</a></h3>
</div>
#end
#extends("/common/framework.html")
