<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.AdvisorMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.Advisor">
		<id column="id" property="id" />
		<result column="serial_no" property="serialNo" />
		<result column="job_title" property="jobTitle" />
		<result column="login_name" property="loginName" />
		<result column="actual_name" property="actualName" />
		<result column="mobile_no" property="mobileNo" />
		<result column="email" property="email" />
		<result column="team_name" property="teamName" />
		<result column="team_leader" property="teamLeader" />
		<result column="team_total_no" property="teamTotalNo" />
		<result column="team_location" property="teamLocation" />
		<result column="is_valid" property="isValid" />
		<result column="is_leader" property="isLeader" />
		<result column="remark" property="remark" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

</mapper>
