<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.PerformancePoolImportUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.PerformancePoolImportUser">
		<id column="id" property="id" />
		<result column="mobile_no" property="mobileNo" />
		<result column="user_name" property="userName" />
		<result column="pfm_pool_date" property="pfmPoolDate" />
		<result column="advisor_name" property="advisorName" />
		<result column="user_mark" property="userMark" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

</mapper>
