<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.SalesDetailsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.SalesDetails">
		<id column="id" property="id" />
		<result column="mobile_no" property="mobileNo" />
		<result column="member_no" property="memberNo" />
		<result column="user_name" property="userName" />
		<result column="advisor_id" property="advisorId" />
		<result column="advisor_name" property="advisorName" />
		<result column="product_id" property="productId" />
		<result column="product_name" property="productName" />
		<result column="product_type" property="productType" />
		<result column="product_rate" property="productRate" />
		<result column="trans_amount" property="transAmount" />
		<result column="trans_time" property="transTime" />
		<result column="inception_date" property="inceptionDate" />
		<result column="due_date" property="dueDate" />
		<result column="limit_days" property="limitDays" />
		<result column="limit_type" property="limitType" />
		<result column="user_type" property="userType" />
		<result column="register_time" property="registerTime" />
		<result column="report_date" property="reportDate" />
		<result column="is_vipuser" property="productType" />
		<result column="vip_date" property="vipDate" />
		<result column="is_performance_pool" property="isPerformancePool" />
		<result column="user_mark" property="userMark" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id,
		mobile_no,
		member_no,
		user_name,
		advisor_id,
		advisor_name,
		product_id,
		product_name,
		product_type,
		product_rate,
		trans_amount,
		trans_time,
		inception_date,
		due_date,
		limit_days,
		limit_type,
		user_type,
		register_time,
		report_date,
		is_vipuser,
		vip_date,
		is_performance_pool,
		user_mark,
		create_time,
		update_time
	</sql>

	<select id="selectCountByParams" resultType="int">
		SELECT COUNT(1) FROM sales_details WHERE 1=1
		<if test="salesDetailsVO != null">

			<if test="salesDetailsVO.userName != null and salesDetailsVO.userName != ''">
				AND user_name LIKE CONCAT(CONCAT('%',#{salesDetailsVO.userName}),'%')
			</if>
			<if test="salesDetailsVO.mobileNo != null and salesDetailsVO.mobileNo != ''">
				AND mobile_no = #{salesDetailsVO.mobileNo}
			</if>
			<if test="salesDetailsVO.userType != null">
				AND user_type = #{salesDetailsVO.userType}
			</if>
			<if test="salesDetailsVO.productType != null">
				AND is_vipuser = #{salesDetailsVO.productType}
			</if>
			<if test="salesDetailsVO.limitType != null">
				AND is_vipuser = #{salesDetailsVO.limitType}
			</if>
			<if test="salesDetailsVO.advisorName != null and salesDetailsVO.advisorName != ''">
				AND advisor_name = #{salesDetailsVO.advisorName}
			</if>
			<if test="salesDetailsVO.userMark != null and salesDetailsVO.userMark != ''">
				AND user_mark = #{salesDetailsVO.userMark}
			</if>
			<if test="salesDetailsVO.isPerformancePool != null">
				AND is_performance_pool = #{salesDetailsVO.isPerformancePool}
			</if>
			<!-- 日期比较有三种情况 -->
			<if test="salesDetailsVO.transTimeStart != null and salesDetailsVO.transTimeEnd != null">
				AND trans_time >= #{salesDetailsVO.transTimeStart}
				AND #{salesDetailsVO.transTimeEnd} >= trans_time
			</if>
			<if test="salesDetailsVO.transTimeStart == null and salesDetailsVO.transTimeEnd != null">
				AND #{salesDetailsVO.transTimeEnd} >= trans_time
			</if>
			<if test="salesDetailsVO.transTimeStart != null and salesDetailsVO.transTimeEnd == null">
				AND trans_time >= #{salesDetailsVO.transTimeStart}
			</if>
			<!-- 投资金额比较有三种情况 -->
			<if test="salesDetailsVO.transAmountSmall != null and salesDetailsVO.transAmountBig != null">
				AND trans_amount >= #{salesDetailsVO.transAmountSmall}
				AND #{salesDetailsVO.transAmountBig} >= trans_amount
			</if>
			<if test="salesDetailsVO.transAmountSmall == null and salesDetailsVO.transAmountBig != null">
				AND #{salesDetailsVO.transAmountBig} >= trans_amount
			</if>
			<if test="salesDetailsVO.transAmountSmall != null and salesDetailsVO.transAmountBig == null">
				AND trans_amount >= #{salesDetailsVO.transAmountSmall}
			</if>

		</if>

	</select>

	<select id="selectPageByParams" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM sales_details WHERE 1=1
		<if test="salesDetailsVO != null">

			<if test="salesDetailsVO.userName != null and salesDetailsVO.userName != ''">
				AND user_name like CONCAT('%',#{salesDetailsVO.userName},'%')
			</if>
			<if test="salesDetailsVO.mobileNo != null and salesDetailsVO.mobileNo != ''">
				AND mobile_no = #{salesDetailsVO.mobileNo}
			</if>
			<if test="salesDetailsVO.userType != null">
				AND user_type = #{salesDetailsVO.userType}
			</if>
			<if test="salesDetailsVO.productType != null">
				AND is_vipuser = #{salesDetailsVO.productType}
			</if>
			<if test="salesDetailsVO.limitType != null">
				AND is_vipuser = #{salesDetailsVO.limitType}
			</if>
			<if test="salesDetailsVO.advisorName != null and salesDetailsVO.advisorName != ''">
				AND advisor_name = #{salesDetailsVO.advisorName}
			</if>
			<if test="salesDetailsVO.userMark != null and salesDetailsVO.userMark != ''">
				AND user_mark = #{salesDetailsVO.userMark}
			</if>
			<if test="salesDetailsVO.isPerformancePool != null">
				AND is_performance_pool like #{salesDetailsVO.isPerformancePool}
			</if>
			<!-- 日期比较有三种情况 -->
			<if test="salesDetailsVO.transTimeStart != null and salesDetailsVO.transTimeEnd != null">
				AND trans_time >= #{salesDetailsVO.transTimeStart}
				AND #{salesDetailsVO.transTimeEnd} >= trans_time
			</if>
			<if test="salesDetailsVO.transTimeStart == null and salesDetailsVO.transTimeEnd != null">
				AND #{salesDetailsVO.transTimeEnd} >= trans_time
			</if>
			<if test="salesDetailsVO.transTimeStart != null and salesDetailsVO.transTimeEnd == null">
				AND trans_time >= #{salesDetailsVO.transTimeStart}
			</if>
			<!-- 投资金额比较有三种情况 -->
			<if test="salesDetailsVO.transAmountSmall != null and salesDetailsVO.transAmountBig != null">
				AND trans_amount >= #{salesDetailsVO.transAmountSmall}
				AND #{salesDetailsVO.transAmountBig} >= trans_amount
			</if>
			<if test="salesDetailsVO.transAmountSmall == null and salesDetailsVO.transAmountBig != null">
				AND #{salesDetailsVO.transAmountBig} >= trans_amount
			</if>
			<if test="salesDetailsVO.transAmountSmall != null and salesDetailsVO.transAmountBig == null">
				AND trans_amount >= #{salesDetailsVO.transAmountSmall}
			</if>

		</if>
		ORDER BY trans_time DESC
		LIMIT
		#{current}, #{size}
	</select>




</mapper>
